<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hioa.mappe3.s180475"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/esk_logo_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hioa.mappe3.s180475.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hioa.mappe3.s180475.AllMembersFragment" >
        </activity>
        <activity android:name="hioa.mappe3.s180475.NewMemberFragment" >
        </activity>
        <activity
            android:name="hioa.mappe3.s180475.EditMemberActivity"
            android:label="@string/title_activity_edit_member"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="hioa.mappe3.s180475.EditPayments"
            android:label="@string/title_activity_edit_payments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="hioa.mappe3.s180475.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>